/* ==UserStyle==
@name           Black Anilist
@namespace      gitlab.com/wolfiy/anilist-black-theme
@version        3.0.2
@description    A true dark theme for Anilist.
@author         wolfiy (https://linktree.wolfiy.ch)
@homepageURL    https://gitlab.com/wolfiy/anilist-black-theme/
@supportURL     https://gitlab.com/wolfiy/anilist-black-theme/-/issues
@updateURL      https://gitlab.com/wolfiy/anilist-black-theme/-/raw/master/minimal-dark-anilist.user.css
@license        GPL-3.0
@preprocessor   default
@var    text        accent-color    "Accent color"  61, 180, 242
@var    text        hard-to-read    "Change this if some texts become hard to read (especially on butons)"  255, 255, 255
==/UserStyle== */


@-moz-document domain("anilist.co") {
  /*
    * =================================================
    * USER VARIABLES
    * Variables used through the website. Edit those to change colors.
    *
    * Default Black AL Theme:
    * @.var   text   accent-color   "Accent color"  250, 250, 250
    * @.var   text   hard-to-read     "Change if hard to read" 150, 150, 150
    *
    * Default Anilist colors:
    * @.var   text   accent-color   "Accent color"  61, 180, 242
    * @.var   text   hard-to-read     "Change if hard to read" 255, 255, 255
    * =================================================
  */
  :root {
    --anilist-blue: 61, 180, 242;
    --version: '🌃 Black Anilist 3.0.2';

    --hover-bg: #252525;
    --light-accent: #505050;
    --dropdown-alt-bg: #101010;
  }


  /*
    * =================================================
    * SITE-WIDE CHANGES
    * Tweaks to the original set of variables. Affects
    * the whole website.
    * 
    * I used this website to help me understand what 
    * variables are used for:
    * https://anzuftnw.github.io/html/simple-theme-framework.html
    * =================================================
  */
  .site-theme-dark {
    --color-blue: var(--accent-color);

    --color-nav-background: 250, 0, 50; /* top navbar background */
    --color-nav-text: 16, 177, 197; /* top navbar text */

    --color-background: 0, 0, 0;
    --color-background-200: 0, 0, 0; /* navdropdown footer background, background of browse */
    --color-foreground-blue: var(--color-background);
    --color-foreground-blue-dark: var(--color-background);
    --color-foreground: 21, 21, 21;
    --color-background-100: 21, 21, 21; /* navdropdown background, cards in browse */
    --color-foreground-grey: var(--color-foreground);

    --color-foreground-grey: 15, 22, 31; /* statswrap footer background */
    --color-foreground-grey-dark: 6, 12, 19; /* statswrap progress bar background, activity history empty field background */

    --color-text: 170, 170, 170; /* plain text, header, statswrap progressbar number indicators 50 75 activity history */
    --color-text-light: 110, 110, 110; /* genre and stats-wrap text, secondary navbar links */
    --color-text-lighter: 130, 130, 130; /* filter text, time stamp text and icons, scoped navbar */
    --color-text-lightest: 230, 230, 230;

    --color-overlay: 40, 40, 40;
    --color-gray-300: 50, 50, 50;
  }

  .site-theme-dark .quick-search {
    background: rgba(25,25,25,.75);
  }

  .el-button--default.el-button--primary {
    color: var(--read) !important;
  }


  /*
   * =================================================
   * NAVBAR
   * Tweaks to the navbar and its child elements.
   * =================================================
   */
  .nav.nav-unscoped {
    background: rgb(var(--color-background));
  }

  .nav-unscoped.transparent {
    background: rgba(var(--color-background), 0.5) !important;
    color: rgb(var(--color-text-lightest));
    transition: 0.5s !important;
  }

  .nav-unscoped.transparent:hover {
    background: rgb(var(--color-background)) !important;
    color: rgb(var(--color-text)) !important;
    transition: 0.3s !important;
  }

  .nav .link:hover {
    color: rgb(var(--color-text-lightest));
  }

  /* Arrow on top of dropdown menus */
  .dropdown::before {
    color: rgb(var(--color-foreground)) !important;
  }

  /* Space for version number */
  .user-wrap .dropdown {
    padding-bottom: 0.75em;
    background: rgb(var(--color-background));
  }

  /* The padding of elements above it is 27px */
  .user-wrap .dropdown::after {
    margin-left: 27px;
    font-size: 0.75em;
    content: var(--version);
  }

  .user-wrap .dropdown .footer, 
  .browse-wrap .dropdown .footer {
    background: rgb(var(--color-background)) !important;
  }

  .primary-links {
    background: rgb(var(--color-foreground));
  }

  .primary-links svg, 
  .primary-links .label, 
  .primary-links .primary-link .primary-link-text {
      color: rgb(var(--color-text-lighter)) !important;
      transition: 0.2s;
  }

  .primary-links svg:hover, 
  .primary-links .label:hover, 
  .primary-links .primary-link .primary-link-text:hover {
    color: rgb(var(--color-text-lightest)) !important;
    transition: 0.2s;
  }
  
  .secondary-link, 
  .primary-links .primary-link .secondary-links, 
  .dropdown .footer a {
    color: rgb(var(--color-text-light)) !important;
  }

  .secondary-link:hover, 
  .primary-links .primary-link .secondary-links a:hover, 
  .dropdown .footer a:hover {
    color: rgb(var(--color-text-lighter)) !important;
  }

  /* Search button and quick search (ctrl + s) */
  .search svg,
  .quick-search .input .icon {
    color: rgb(var(--color-text)) !important
  }
    
  .search svg:hover {
    color: rgb(var(--color-text-lightest)) !important;
  }

  .result:hover {
    background: rgb(var(--accent-color)) !important;
  }

  .collapse-bar, .collapse-bar:hover {
    background: rgba(white, 0.1) !important;
  }

  /* Mobile specific */
  .hamburger, .menu {
    box-shadow: 0 0px 0px rgba(var(--color-background), 0) !important;
  }


  /*
   * =================================================
   * FOOTER
   * Tweaks to the main footer.
   * =================================================
   */
  .footer {
    background: rgb(var(--color-foreground)) !important;
  }

  .footer .container {
    color: rgb(var(--color-text));
  }
    
  .footer .container h2 {
    color: rgb(var(--color-text-lightest));
  }

  /* Needed otherwise won't display the accent color on profiles */
  .footer .container a:hover {
    color: rgb(var(--accent-color));
    transition: 0.2s;
  }

  .theme-preview {
    border: none !important;
  }

  .theme-preview.dark {
    background: rgb(var(--color-background));
  }


  /*
   * =================================================
   * HOME
   * Tweaks to the homepage.
   * =================================================
   */
  /* Left dropdown (over posters) */
  .el-dropdown-menu, 
  .popper-arrow,
  .el-dropdown-menu__item--divided::before {
    background: rgb(var(--color-foreground));
  }

  .el-dropdown-menu__item--divided {
    border-top: none !important;
  }

  /* Left and right dropdown (next to the time) hover backgrounds */
  .el-dropdown-menu__item:focus, 
  .el-dropdown-menu__item:not(.is-disabled):hover {
    background: rgb(var(--accent-color));
    transition: 0.2s;
  }

  /* Anime / manga in progress, text over posters */
  .image-text, 
  .plus-progress {
    color: rgb(var(--color-text-lightest)) !important;
  }

  /* TODO might be useless */
  .el-popper[x-placement^="top"] .popper__arrow::after, 
  .el-popper[x-placement^="top"] .popper__arrow {
    border-top-color: rgb(var(--color-foreground));
  }

  /* Arrow over the direct link popup */
  .el-popper[x-placement^="bottom"] .popper__arrow::after, 
  .el-popper[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: rgb(var(--color-background));
  }

  .activity-extras-dropdown {
    background: rgb(var(--color-background));
  }

  .actions {
    color: rgb(var(--color-text-lighter)) !important;
  }


  /*
   * =================================================
   * PROFILE
   * Tweaks to the user profile page.
   * =================================================
   */
  h1.name, 
  .nav-btn, 
  .follower-badge,
  .mod-badge,
  .mod-badge .label {
    color: rgb(var(--color-text-lightest)) !important;
  }

  .mod-badge:hover,
  .mod-badge .label:hover {
    color: rgb(var(--color-blue)) !important;
    transition: 0.2s;
  }

  /* Overview, anime list, etc. */
  .nav-wrap .nav .link {
    color: rgb(var(--color-text-light));
  }

  /* Under stats, total anime, episodes watched, etc. */
  .label, 
  .highlight .label[data-v-72dc5b51] {
    color: rgb(var(--color-text-lighter));
  }

  .x-axis[data-v-3251fadf] {
    background: rgba(var(--color-background), 0.5);
  }

  .filter-group a {
    transition: 0.3s;
  }

  .filter-group a:hover {
    color: rgb(var(--color-blue)) !important;
    transition: 0.3s;
  }

  /* Titles watched, hours watched, etc. */
  .option {
    color: rgb(var(--color-text-light)) !important;
  }

  /* TODO rename this variable */
  .banner .shadow {
    background: linear-gradient(180deg,rgba(var(--color-shadow-dark),0) 40%,rgba(0, 0, 0,.6)) !important;
  }

  .history-day.lv-1 {
    background: rgba(var(--color-blue), 0.4) !important;
  }

  .history-day.lv-2 {
    background: rgba(var(--color-blue), 0.48) !important;
  }
  
  .history-day.lv-3 {
    background: rgba(var(--color-blue), 0.56) !important;
  }

  .history-day.lv-4 {
    background: rgba(var(--color-blue), 0.62) !important;
  }
  
  .history-day.lv-5 {
    background: rgba(var(--color-blue), 0.7) !important;
  }
  
  .history-day.lv-6 {
    background: rgba(var(--color-blue), 0.78) !important;
  }

  .history-day.lv-7 {
    background: rgba(var(--color-blue), 0.84) !important;
  }

  .history-day.lv-8 {
    background: rgba(var(--color-blue), 0.9) !important;
  }

  .history-day.lv-9 {
    background: rgba(var(--color-blue), 1) !important;
  }


  /*
   * =================================================
   * LISTS
   * Tweaks to both anime and manga lists.
   * =================================================
   */
  .medialist.table .entry, 
  .medialist.table .entry .title a {
    color: rgb(var(--color-text));
  }

  .entry.row:hover a {
    color: rgb(var(--color-text-lightest)) !important;
  }

  /* TODO maybe a different shade of grey*/
  .el-select-dropdown, 
  .random-btn[data-v-063397cc] {
    background-color: rgb(var(--color-background));
    transition: 0.3s;
  }

  .el-select-dropdown__item.hover, 
  .el-select-dropdown__item:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--accent-color));
    transition: 0.15s;
  }

  .list-editor-wrap {
    background: rgba(var(--color-background), .35);
  }
}


@-moz-document url-prefix("https://anilist.co/search/") {
  /*
   * =================================================
   * BROWSE
   * Tweaks to the browse page.
   * =================================================
   */
  .extra-filters-wrap > div {
    background: rgb(var(--color-background)) !important;
  }

  .ps .ps__rail-x.ps--clicking, 
  .ps .ps__rail-x:focus, 
  .ps .ps__rail-x:hover, 
  .ps .ps__rail-y.ps--clicking, 
  .ps .ps__rail-y:focus, 
  .ps .ps__rail-y:hover {
      background: rgba(var(--color-background), 0);
  }

  .search-wrap, 
  .select, 
  .open-btn, 
  .options,
  .rail {
    background: rgb(var(--color-foreground)) !important;
  }

  /* TODO might be useless */
  .option.selected, 
  .option[data-v-0f4acdbb]:hover {
    background: rgba(var(--color-background), .35) !important;
    color: rgb(var(--color-text-lightest));
  }

  .open-btn.active, 
  .open-btn:hover {
    color: rgb(var(--color-text-lightest));
  }

  .active-region {
    background: rgb(var(--accent-color)) !important;
  }

  /* TODO rename this variable */
  .handle, 
  .handle-1 {
    background: var(--light-accent) !important;
  }

  .tag-filtesr-wrap {
    border-top: none !important;
  }

  /* TODO rename this variable */
  .checkbox[data-v-32107ecb] {
    border: none;
    background: var(--hover-bg);
  }

  .search-wrap[data-v-128d71ac] {
    background: rgb(var(--color-background));
  }

  .dropdown .name, 
  .dropdown .label {
    color: rgb(var(--color-text));
  }

  .dropdown .label:hover {
    color: rgb(var(--color-text-lightest)) !important;
  }

  .dropdown .placeholder, 
  .dropdown .values {
    color: rgb(var(--color-text-light)) !important;
  }

  .tag[data-v-e3e1e202] {
    background: rgb(var(--color-background));
    color: rgb(var(--color-text-light));
    transition: 0.3s;
  }

  .tag[data-v-e3e1e202]:hover {
    color: rgb(var(--accent-color));
    transition: 0.3s;
  }

  .filter .value,
  .wrap .dropdown .option:hover {
    color: rgb(var(--accent-color)) !important;
  }

  .filter[data-v-cd1dc2b6] {
    background: rgb(var(--color-foreground));
  }

  .clear-all {
    background-color: rgb(var(--color-background)) !important;
  }

  .selects-wrap .label,
  .selects-wrap .dropdown .option {
    color: var(--color-text-light) !important;
  }

  .selects-wrap .label:hover {
    color: var(--color-text-lighter) !important;
  }

  .selects-wrap .dropdown,
  .mobile-header .type {
    background: rgb(var(--color-foreground));
  }
 
  .selects-wrap .dropdown .option:hover {
    color: var(--color-text-lightest) !important;
  }

  .title:not(:hover) {
    color: rgb(var(--color-text));
  }
}  


@-moz-document url-prefix("https://anilist.co/notifications") {
  /*
   * =================================================
   * NOTIFICATIONS
   * Tweaks to the notification page.
   * =================================================
   */
  .reset-btn {
    color: rgb(var(--hard-to-read)) !important;
  }

  .link, .link:hover, 
  .notification, .notification:hover {
    transition: 0.2s;
  }

  .link:hover {
    color: rgb(var(--accent-color)) !important;
  }

  .notification:hover {
    background: rgba(var(--accent-color), 0.3) !important;
  }
}


@-moz-document url-prefix("https://anilist.co/character/"), url-prefix("https://anilist.co/staff/"),
               url-prefix("https://anilist.co/anime/"), url-prefix("https://anilist.co/manga/") {
  /*
   * =================================================
   * ENTRIES
   * Tweaks common to anime, manga, characters, etc.
   * =================================================
   */
  .header, 
  .page-content .staff-wrap .staff .header, 
  .page-content .character-wrap .character .header {
    background: rgb(var(--color-foreground)) !important;
  }

  .page-content .staff-wrap .roles-wrap .header {
    background: rgb(var(--color-background)) !important;
  }

  .edit:not(.review):hover {
    color: rgb(var(--accent-color)) !important;
  }

  .check {
    background: rgb(var(--accent-color)) !important;
    color: rgb(var(--hard-to-read)) !important;
  }

  .description {
    color: rgb(var(--color-text-light)) !important;
    transition: 0.3s;
  }

  .description:hover {
    color: rgb(var(--color-text)) !important;
    transition: 0.3s;
  }

  .ct-series-a .ct-bar, 
  .ct-series-a .ct-line, 
  .ct-series-a .ct-point, 
  .ct-series-a .ct-slice-donut {
    stroke: rgb(var(--accent-color));
  }

  .stats-graph .label-text {
    fill: rgb(var(--color-text-light));
  }

  .description-length-toggle {
    background: linear-gradient(0deg,var(--dropdown-alt-bg) 30%,rgba(var(--color-foreground),.4)) !important;
  }

  .role-card:hover .title[data-v-35cb0469]:not(.relation-title) {
    color: rgb(var(--accent-color)) !important;
  }
}


@-moz-document url-prefix("https://anilist.co/settings/") {
  /*
   * =================================================
   * SETTINGS
   * Tweaks in the settings panel.
   * =================================================
   */
  .el-radio__input.is-checked + .el-radio__label, 
  .el-checkbox__label {
    color: rgb(var(--accent-color)) !important;
  }

  .el-radio__input.is-checked .el-radio__inner, 
  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: rgb(var(--accent-color));
    background: rgb(var(--accent-color));
  }

  .nav-group a:hover {
    color: rgb(var(--accent-color)) !important;
    transition: 0.2s;
  }
}


@-moz-document url-prefix("https://anilist.co/user/") {
  /*
   * =================================================
   * USERS
   * Tweaks to the user pages.
   * =================================================
   */
    .site-theme-dark {
        --color-blue: var(--anilist-blue);
    }
}


@-moz-document regexp("https://anilist.co/user/.*/(animelist|mangalist)"), 
               regexp("https://anilist.co/user/.*/(animelist|mangalist)/.*") {
  /*
   * =================================================
   * LISTS
   * Tweaks to the lists.
   * =================================================
   */
  .save-btn {
    background: rgb(var(--accent-color)) !important;
  }

  .el-button--primary,
  .medialist.cards .entry-card .edit, 
  .medialist.table .entry .edit  {
    color: rgb(var(--hard-to-read)) !important;
  }

  .el-checkbox {
    color: rgba(var(--color-text-light));
  }

  .el-checkbox .el-checkbox__inner {
    background: rgba(var(--color-text-light));
  }

  .list-editor-wrap .list-editor .body .input-title {
    color: rgba(var(--color-text-light), 0.7);
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: rgb(var(--accent-color));
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: rgb(var(--accent-color));
    border-color: rgb(var(--accent-color));
  }

  .el-checkbox__inner::after {
    border: 1px solid rgb(var(--hard-to-read)) !important;
    background: rgb(var(--hard-to-read)) !important;
  }

  .filters span:hover {
    color: rgb(var(--accent-color)) !important;
    transition: 0.2s;
  }
    
  .filters span {
    transition: 0.2s;
  }
}


@-moz-document url-prefix("https://anilist.co/forum/") {
  /*
   * =================================================
   * FORUM
   * Tweaks to the forum.
   * =================================================
   */
  .create-btn {
    color: rgb(var(--hard-to-read)) !important;
  }

  .filter-group a:hover {
    color: rgb(var(--accent-color));
    transition: 0.2s;
  }
}