/* ==UserStyle==
@name           Black Anichart
@namespace      gitlab.com/wolfiy/anilist-black-theme
@version        3.0.2
@description    A true dark theme for Anichart.
@author         wolfiy (https://linktree.wolfiy.ch)
@homepageURL    https://gitlab.com/wolfiy/anilist-black-theme/
@supportURL     https://gitlab.com/wolfiy/anilist-black-theme/-/issues
@updateURL      https://gitlab.com/wolfiy/anilist-black-theme/-/raw/master/minimal-dark-anichart.user.css
@license        GPL-3.0
@preprocessor   default
@var   text   accent-color    "Accent color" 61, 180, 242
@var    text        hard-to-read    "Change this if some texts become hard to read (especially on butons)"  255, 255, 255
==/UserStyle== */

@-moz-document domain("anichart.net") {
  /*
   * =================================================
   * VARIABLES
   * Set of variables used through the website.
   * =================================================
   */
  :root {
    --color-blue: var(--accent-color) !important;
    --version: '🌃 Black Anichart 3.0.2';
  }


  /*
   * =================================================
   * COLORS
   * Colors used for the dark theme.
   * =================================================
   */
  .site-theme-dark {
    --color-background: 0, 0, 0;
    --color-foreground: 21, 21, 21;

    --color-text: 170, 170, 170;
    --color-text-light: 110, 110, 110;
    --color-text-lighter: 130, 130, 130;
    --color-text-lightest: 230, 230, 230;

    --color-foreground-blue: 10, 10, 10;
  }
  
  
  /*
  * =================================================
  * HEADER
  * Tweaks to the header and navbar
  * =================================================
  */
  .nav {
    background: rgba(var(--color-foreground), 0.75) !important;
  }

  .season,
  .charts svg {
    color: rgb(var(--color-text)) !important;
  }

  .season-year,
  .charts .label,
  .filters {
    color: rgb(var(--color-text-light)) !important;
  }

  .filters .icon {
    transition: 0.2s;
  }

  .season:hover, 
  .season.router-link-active, 
  .charts:hover, 
  .charts .svg-icon:hover, 
  .charts a:hover,
  .filters .icon:hover,
  .router-link-exact-active svg {
    color: rgb(var(--accent-color)) !important;
    transition: 0.2s;
  }


  /*
   * =================================================
   * CARDS
   * Tweaks to the cards
   * =================================================
   */
  .dropdown-menu .item:hover {
    color: rgb(var(--hard-to-read));
  }


  /*
   * =================================================
   * MENU
   * Tweaks to the various menu items on the top right
   * =================================================
   */
  .dropdown-menu {
    background: rgb(var(--color-background));
  }

  .dialog .option:hover, 
  .dialog .btn:hover {
    color: rgb(var(--hard-to-read));
  }
    
  .dialog .option,
  .dialog .btn {
    background-color: rgba(var(--color-foreground), 0.75);
  }


  /*
   * =================================================
   * FOOTER
   * Version number.
   * Tweaks to the footer
   * =================================================
   */
  .chart-view::after {
    position: relative;
    left: 45%;
    text-align: center;
    content: var(--version);
  }

  /*
   * =================================================
   * SETTINGS
   * Version number.
   * Tweaks to the settings page
   * =================================================
   */
  .settings svg.active,
  .dark > svg:nth-child(1),
  .toggle .active-icon.visible path {
    fill: rgb(var(--accent-color)) !important;
  }

  .theme-toggle > div,
  .toggle:not(.theme-toggle) > div {
    transition: 0.2s;
  }

  .toggle > div:not(.default, .contrast):hover {
    filter: invert(10%) !important;
    transition: 0.2s;
  }

  .toggle > div.default:hover,
  .toggle > div.contrast:hover {
    filter: brightness(70%) !important;
    border: solid 2px rgba(var(--color-text), 0.9);
    transition: 0.2s;
  }

  .toggle > div.dark:hover {
    border: solid 2px rgba(var(--color-text), .1);
    transition: 0.2s;
  }

  .toggle > div.dark {
    border: solid 2px rgba(var(--color-text), 0);
    background: rgb(var(--color-background)) !important;
  }

  .login {
    color: rgb(var(--hard-to-read)) !important;
  }
}